/* Start Global Variables */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1f2021;
}
:root {
    --fontNav: 0.95em;
    --fontTitle: 1.7em;
    --fontTitle2: 1.25em;
    --colorNav: #ffffff;
    --colorTitle: #1f2021;
    --colorHome: #00c7fc;
    --colorP: #a8a8a8;
}
* {
    line-height: 2em;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.container-nav {
    padding: 1.25em 5%;
}
.container {
    padding: 3.5em 15%;
}
.container-background {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: -1;
    padding: 0 10%;
    height: auto;
    width: 100%;
}
.background {
    background-color: #353235;
    width: 3.125em;
    height: 100vh;
    margin: 0 0.625em;
}
/* Background Whit For Sections */
.whit {
    background-color: white;
}
/* End Global Variables */

/* Start Header */
.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--colorNav);
    border-bottom: 1px solid #636364;
    padding: 0.5em 0 1.2em 0;
    font-size: var(--fontNav);
    text-transform: uppercase;
}
nav {
    margin-left: 10em;
}
nav a {
    display: inline-flex;
    color: var(--colorNav);
    font-size: var(--fontNav);
    text-decoration: none;
    margin: 0 1em;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
}
nav :first-child {
    position: relative;
    color: var(--colorHome);
}
nav :first-child::after {
    content: "";
    position: absolute;
    top: calc(100% + 1.70em);
    left: -10%;
    width: 3.5em;
    height: 2px;
    background-color: var(--colorHome);
}
.services:hover,
.portfolio:hover,
.about:hover,
.pricing:hover,
.contact:hover {
    position: relative;
    color: var(--colorHome);
}
.services:hover::after,
.portfolio:hover::after,
.about:hover::after,
.pricing:hover::after,
.contact:hover:after {
    content: "";
    position: absolute;
    top: calc(100% + 1.70em);
    width: 100%;
    height: 2px;
    background-color: var(--colorHome);
}
header .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 2em;
    height: 2em;
    font-size: 1.3em;
    border-left: 1px solid var(--colorNav);
}
header .icons :first-child {
    display: inline-block;
    color: var(--colorNav);
}
/* End Header */

/* Start Main1 */
.main1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100vh - 5em);
    width: 100%;
}
.container-main1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--colorNav);
    letter-spacing: 1px;
    padding: 0 1em 0;
}
.main1 .container-bg {
    position: absolute;
    left: 0;
    top: -2em;
    z-index: -1;
    background-color: var(--colorHome);
    opacity: 50%;
    width: 70%;
    height: calc(100% + 4em);
}
.container-main1 h1 {
    margin-right: 3em;
    margin-left: 5.5em;
    font-size: var(--fontTitle);
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: 400;
}
.container-main1 h1 span {
    display: inline-block;
    letter-spacing: normal;
    line-height: 1.8em;
    font-size: 0.5em;
    margin-top: 0.5em;
    opacity: 80%;
    max-width: 70%;
    text-transform: none;
    text-align: justify;
}
.pages-main1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75vh;
    left: 50%;
    right: 50%;
    font-size: 0.8em;
}
.pages-main1 .page1,
.pages-main1 .page3 {
    color: var(--colorNav);
}
.pages-main1 .page2 {
    color: var(--colorHome);
}
/* End Main1 */

/* Start Services */

/* End Services */


